<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1bec8d65-b6c6-4a51-8607-aa419d68868c/resourcegroups/DefaultResourceGroup-SCUS/providers/Microsoft.ContainerRegistry/registries/Kubernetes220200903001551</ResourceId>
    <ResourceName>Kubernetes220200903001551</ResourceName>
    <ResourceGroup>DefaultResourceGroup-SCUS</ResourceGroup>
    <Subscription>Avaliação Gratuita</Subscription>
    <RegistryUrl>https://kubernetes220200903001551.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c18d767b-a9b4-4564-aee0-714d17853925</ProjectGuid>
  </PropertyGroup>
</Project>